html, body {
  overflow-y: hidden;
}
body {
  position: relative;
}

#main-canvas {
  user-select: none;
}

#bkg-canvas {
  user-select: none;
}

.Splash {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Splash button {
  font-size: 72px;
  cursor: pointer;
  margin: 0 10px;
}

.SynthDebugger {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
}
